@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu{
    animation: show-menu 300ms forwards ease-in-out;
}

input.not-valid{
    @apply border-solid border-[3px] border-secondary-red relative focus:outline-none
}


@keyframes show-menu {
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .hero-img img{
        /* object-position: left center; */
        /* clip-path: inset(0px 100px 0px 0px); */
        transform: scale(1.2) translateX(20px);
        transform-origin: left;
    }

    .main-app .input-container{
        background-image: url('/src/images/bg-shorten-mobile.svg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 70%;
    }

    .footer-section .get-started{
        background-image: url('/src/images/bg-boost-mobile.svg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
    }
}

@media only screen and (min-width: 1024px) {
    .hero-img img{
        /* object-position: left center; */
        /* clip-path: inset(0px 100px 0px 0px); */
        transform: scale(1.2) translateX(90px);
        transform-origin: left;
    }

    .main-app .input-container{
        background-image: url('/src/images/bg-shorten-desktop.svg');
        background-repeat: no-repeat;
    }

    .footer-section .get-started{
        background-image: url('/src/images/bg-boost-desktop.svg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
    }
    
}